// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-boilerplate-primary: mat.define-palette(mat.$indigo-palette);
$angular-boilerplate-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$angular-boilerplate-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-boilerplate-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-boilerplate-primary,
      accent: $angular-boilerplate-accent,
      warn: $angular-boilerplate-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-boilerplate-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .linear-gradient-1 {
    background: linear-gradient(to top, #906cf5, #e159a2);
  }
  .linear-gradient-2 {
    background: linear-gradient(109.08deg, #4568dc 0%, #b06ab3 98.01%);
  }
  .linear-gradient-3 {
    background: linear-gradient(109.08deg, #23e1b4 0%, #088e6e 98.01%);
  }
  .linear-gradient-4 {
    background: linear-gradient(109.08deg, #36d1dc 0%, #5b86e5 98.01%);
  }
  .linear-gradient-5 {
    background: linear-gradient(109.08deg, #a4d0d8 0%, #4ca1af 98.01%);
  }
  .linear-gradient-6 {
    background: linear-gradient(102deg, #2c178c 56.76%, #875887 97.37%);
  }
  .linear-gradient-7 {
    background: linear-gradient(152deg, #2c178c 53.83%, #f04393 118.91%);
  }
  .linear-gradient-8 {
    background: linear-gradient(92deg, #2c178c 9.05%, #f04393 104.31%);
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
